body{
	background:#007754
}
*{
	margin:0; padding:0;
}
header {
	width:100%
	padding: 15px 0;
	margin: 0 auto;
	text-align: center;
}
header .headline{
	font-size: 32px;
}
.list {
	text-align: center;
	padding: 10px 0;
	margin: 0 auto;
}
.list- {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
}
